/*--------------------------------------------------
GLOBAL
---------------------------------------------------*/
/* Auteur : Arthur Jenck
Date : 
Version :
Site de l'auteur : http://ajenck.ecv-monsite.fr */

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&family=Petit+Formal+Script&family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&display=swap');
/* font-family: 'Sora', sans-serif; */
/* font-family: 'Montserrat', sans-serif;
font-family: 'Petit Formal Script', cursive;
font-family: 'Playfair Display', serif; */

html {
    min-width: 780px;
}

body, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*--------------------------------------------------*/

h6 {
    display: none;
}

/*HEADER*/

header {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #101213;
}

header img.logo_header {
    height: initial;
    width: initial;
}

header h1 {
    color: #dfb875;
    font-family: 'Petit Formal Script', cursive;
    font-weight: 100;
}

/*NAV*/

.barre_nav {
    background-color: #25252c;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
}

.barre_nav a {
    color: #f2f0f3;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 1em;
    border-left: solid 1px;
    border-image: linear-gradient(
        to bottom, 
        rgba(0, 0, 0, 0),
        #dfb875, 
        rgba(0, 0, 0, 0)
      ) 1 100%;;
}

.barre_nav a:last-child {
    border-right: solid 1px;
    border-image: linear-gradient(
        to bottom, 
        rgba(0, 0, 0, 0),
        #dfb875, 
        rgba(0, 0, 0, 0)
      ) 1 100%;;
}


.barre_nav a {
    border-right: none;
    display: inline-block;
    position: relative;
    transition: all ease-in-out 0.4s;
}

.barre_nav a:hover {
    font-size: 1.1em;
    font-weight: bolder;
    letter-spacing: 5px;
    color: #dfb875 !important;
}

.barre_nav a::after {
    content: "";
    display: inline-block;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(223,184,117,1) 50%, rgba(208,208,208,0) 100%);
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 1px;
    transition: all ease-in-out 0.4;
    
}

.barre_nav a:hover::after {
    width: 100%;
    transition: all ease-in-out 0.4s;
}

/*HERO*/

.hero {
    color: #fff;
    width: 100%;
    background-image: url('../img/Fond_article_principal.jpg');
    background-position: 0;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenu_hero {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.montre_principale {
    height: 60vh;
}

.hero h2 {
    font-family: 'Petit Formal Script', cursive;
    font-weight: 100;
    font-size: 3em;
}

.hero_ligne {
    margin-bottom: 1rem;
}

.hero p {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 3em;
}

.cta_btn {
    text-decoration: none;
    color: #dfb875;
    border: solid 1px #dfb875;
    border-radius: 20px;
    padding: 0.5em 2em;
    font-family: 'Montserrat', sans-serif;
    transition: all ease-in-out 0.4s;
}

/*ARTICLES*/

.nouvelles_colls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../img/Fond_articles.jpg");
    background-size: cover;
    padding: 1rem 0;
}

.nouvelles_colls h2 {
    text-transform: capitalize;
    color: #25252c;
    font-family: 'Petit Formal Script', cursive;
    font-weight: 100;
    padding: 2rem 0;
    position: relative;
}

.nouvelles_colls h2::before {
    content: "";
    display: inline-block;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(37,37,44,1) 100%);
    height: 1px;
    width: 100%;
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: -110%;
}

.nouvelles_colls h2::after {
    content: "";
    display: inline-block;
    background: rgb(255,255,255);
    background: linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(37,37,44,1) 100%);
    height: 1px;
    width: 100%;
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 110%;
}



.articles {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
    padding: 1rem;
}

.articles article {
    max-height: 100%;
    background-color: #101213;
    margin: 0 0.5em;
    padding: 1em;
    color: #fff;
    text-align: center;
    min-height: 65vh;
    position: relative;
    width: 18vw;
}

.articles h3 {
    font-family: 'Petit Formal Script', cursive;
    font-weight: 100;
    font-size: 1.8em;
}

.articles h4 {
    font-family: 'Playfair Display', sans-serif;
    font-style: italic;
    font-weight: 100;
}

.img_montres {
    max-height: 250px;
    max-width: 18vw;
}
.articles .cta_btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
}

.articles p {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.85rem;
}

.art_lignes {
    width: 100%;
}

.cta_nouveautes {
        text-decoration: none;
        color:  #1a1b1d;
        background-color:  #dfb875;
        border-radius: 20px;
        padding: 0.5em 2em;
        font-family: 'Montserrat', sans-serif;
        display: flex;
        align-items: center;
        justify-content: space-between;
}

.cta_nouveautes i {
    margin-left: 1rem;
}

/*CATALOGUE*/

.catalogue {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1b1d;
    color: #fff;
    padding: 2rem 0 ;
}

label {
    display: none;
}

.mail_label {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
    font-weight: bold;
}

.catal_txt {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    width: 30vw;
    margin-left: 5rem;
}

.catal_txt h2 {
    font-family: 'Playfair Display', sans-serif;
    font-style: italic;
    font-weight: 100;
    font-size: 2em;
}

.catal_txt img {
    margin: 1rem 0;
}

.catal_txt p {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 2rem;
}

.catal_form form {
    display: flex;
    flex-direction: column;
}

.prem_input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.prem_input input {
    border-radius: 20px;
    padding: 0.2rem 1rem;
    width: 49%;
    border: #dfb875 solid 3px;
}

.catal_mail {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.catal_mail input {
    border-radius: 20px;
    padding: 0.2rem 1rem;
    border: #dfb875 solid 3px;
}

.catal_mail p {
    font-size: 0.7em;
}

form button {
    text-decoration: none;
    color:  #1a1b1d;
    background-color:  #dfb875;
    border-radius: 20px;
    padding: 1em 2em;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 60%;
    font-size: small;
    font-weight: bold; 
}

.required {
    color: #dfb875;
    font-weight: normal;

}

/*FOOTER*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    background-color: #25252c;
}

.footer_articles {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 2rem;
}

footer ul {
    list-style-type: none;
}

footer a {
    text-decoration: none;
    color: #f2f0f3;
}

.liste_parties {
    font-size: 1.3em;
    text-transform: uppercase;
}

.liste_parties li {
    margin-bottom: 1.5rem;    
}

.footer_current {
    color: #dfb875;
}

footer article {
    width: 20vw;
    position: relative;
}

footer q {
    display: block;
    color: #f2f0f3;
    margin-bottom: 1rem;
}

q:before, q:after {
    content:""
}

footer .figcaption {
    text-align: right;
    color: #f2f0f3;
    position: absolute;
    bottom: -1rem;
    right: 0;
}

.footer_logo {
    width: 7vw;
    margin-bottom: 1rem;
}

footer article:first-child {
    margin-right: 3rem;
}

footer article:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer article:nth-child(2)::before, footer article:nth-child(2)::after {
    content: "";
    display: block;
    position: absolute;
    background: rgb(255,255,255);
background: linear-gradient(0, rgba(255,255,255,0) 0%, rgba(223,184,117,1) 50%, rgba(223,184,117,0) 100%);
    width: 1px;
    height: 80%;
}

footer article:nth-child(2)::before {
    left: -1rem;
}

footer article:nth-child(2)::after {
    right: -1rem;
}

footer article:nth-child(3) {
    padding-left: 4rem;
}

footer h3 {
    color: #f2f0f3;
    font-weight: normal;
    text-transform: uppercase;
    margin: 3rem 0;
}

.footer_lien {
    margin-bottom: 1em;
    padding-left: 2em;
    position: relative;
}

.footer_lien::before {
    content: "\f082";
    font-family: 'FontAwesome';
    color: #f2f0f3;
    display: inline-block;
    position: absolute;
    left: 0;
}

.footer_lien:nth-child(2)::before {
    content: "\f099";
    font-family: 'FontAwesome';
    color: #f2f0f3;
    display: inline-block;
    position: absolute;
    left: 0;
}

.footer_lien:nth-child(3)::before {
    content: "\f167";
    font-family: 'FontAwesome';
    color: #f2f0f3;
    display: inline-block;
    position: absolute;
    left: 0;
}

.footer_copyright {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    background-color: #101213;
    padding: 0.5em;
    color: #25252c;
}

.cta_btn:hover {
    color: #25252c;
    background-color: #dfb875;
}

/*REPONSE*/

.reponse_fond {
    background-color: #1a1b1d;
}

.reponse {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    flex-direction: column;
    margin: 0 auto;
    padding: 2rem;
    background-color: #25252c;
}

.reponse h2 {
    margin-bottom: 2rem;
    color: #dfb875;
    font-family: 'Playfair Display', cursive;
}

.reponse p {
    margin-bottom: 1rem;
    color: #f2f0f3;
    font-family: 'Montserrat', sans-serif;
}




@media all and (max-width:780px) {
    .articles {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .articles article {
        width: 70vw;
        margin-bottom: 1rem;
    }
}